h1{
    text-align: center;
}
table{
    width: 90%;
    margin: 3% auto;
    font-size: 20px;
    padding: 3.6%;
}
table th{
    background-color: rgb(64, 139, 224);
    padding: 1%;
}
table td{
    background-color: lightblue;
    padding: 1%;
}

#box{
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: lightskyblue;
    margin:  20px auto;
    animation: rotationAnimation 2s linear infinite;
}
@keyframes rotationAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
